<div class="card">
    <div class="card-body">
        <h4 class="card-title">Asset Table</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Status Asset</th>
                        <th>Brand Name</th>
                        <th>Inventory Code</th>
                        <th>Invoice Code</th>
                        <th>Company Name</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> </td>
                        <td>Laptop</td>
                        <td>LTPLWN1</td>
                        <td><label class="badge badge-success">Available</label></td>
                        <td>Samsung</td>
                        <td>LTP</td>
                        <td>GTY434563</td>
                        <td>Lawencon</td>
                        <td class="text-center"><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td>Laptop</td>
                        <td>LTPLWN2</td>
                        <td><label class="badge badge-success">Available</label></td>
                        <td>Samsung</td>
                        <td>LTP</td>
                        <td>GTY434563</td>
                        <td>Lawencon</td>
                        <td class="text-center"><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td>Laptop</td>
                        <td>LTPLWN3</td>
                        <td><label class="badge badge-success">Available</label></td>
                        <td>Samsung</td>
                        <td>LTP</td>
                        <td>GTY434563</td>
                        <td>Lawencon</td>
                        <td class="text-center"><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td>Spidol</td>
                        <td>SPLLNV1</td>
                        <td><label class="badge badge-success">Available</label></td>
                        <td>Snowman</td>
                        <td>SPL</td>
                        <td>JYM434333</td>
                        <td>Linov</td>
                        <td class="text-center"><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>