<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-box2 icon-gradient bg-happy-itmeo">
                </i>
            </div>
            <div>Assets Tables
                <div class="page-title-subheading">Tables are the backbone of almost all web applications.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h2 class="card-title">Assets</h2>
                <label *ngIf="show">Code Inventory : {{assetList[0].inventoryId.code}}</label>
                <label *ngIf="showInvoice">Code Invoice : {{assetList[0].invoiceId.code}}</label>
                <p-table #dt [value]="assetList" [rows]="10" [paginator]="true" [globalFilterFields]="['image', 'names', 'code', 'brand', 'statusAsset', 'inventory', 'company', 'invoice']" responsiveLayout="scroll" [(selection)]="selectedAsset" [rowHover]="true" dataKey="id"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <button pButton pRipple icon="pi pi-plus" class="bg-primary" routerLink="/glexy/asset/new" *ngIf="!show && !showInvoice"></button>
                                <button pButton pRipple icon="bx bx-arrow-back" class="bg-danger" (click)="backToInvent()" *ngIf="show"></button>
                                <button pButton pRipple icon="bx bx-arrow-back" class="bg-danger" (click)="backToInvoice()" *ngIf="showInvoice"></button>
                            </div>
                            <div class="col-md-6 col-12 d-flex justify-content-end">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                        placeholder="Search..." />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                No
                            </th>
                            <th pSortableColumn="image">Image
                            </th>
                            <th pSortableColumn="names">Name Asset
                                <p-sortIcon field="names">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="code">Code Asset
                                <p-sortIcon field="code">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="brand">Brand Asset
                                <p-sortIcon field="brand">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="statusAsset">Status Asset
                                <p-sortIcon field="statusAsset">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="inventory" *ngIf="!show">Inventory Code
                                <p-sortIcon field="inventory">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="company">Company
                                <p-sortIcon field="company">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="invoice" *ngIf="!showInvoice">Invoice Code
                                <p-sortIcon field="invoice">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="expired">Expired Date
                            </th>
                            <th *ngIf="!show" class="px-5">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-asset let-rowIndex="rowIndex">
                        <tr>
                            <td>
                                {{rowIndex + 1}}
                            </td>
                            <td> <img class="asset-img" src="data:image/png;base64,{{asset.assetImg.file}}" *ngIf="isDisplayAvail(asset.assetImg)" /> </td>
                            <td>{{asset.names}}</td>
                            <td>{{asset.code}}</td>
                            <td>{{asset.brandId.names}}</td>
                            <td class="text-center">
                                <div class="badge {{checkStatus(asset.statusAssetId.nameStatusAsset)}}">
                                    {{asset.statusAssetId.nameStatusAsset}}
                                </div>
                            </td>
                            <td *ngIf="!show">{{asset.inventoryId.code}}</td>
                            <td>{{asset.companyId.names}}</td>
                            <td>{{asset.invoiceId.code}}</td>
                            <td>{{asset.expiredDate}}</td>
                            <td *ngIf="!show" class="px-6">
                                <div class="row">
                                    <div class="col-6">
                                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="onUpdate(asset.id)"></button>

                                    </div>
                                    <div class="col-6">
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total there are {{assetList ? assetList.length : 0 }} products.
                        </div>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>