<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h2 class="card-title">Permission</h2>
                <p-table #dt [value]="listPermission" [rows]="10" [paginator]="true" [globalFilterFields]="['namePermission','code']" responsiveLayout="scroll" [(selection)]="selectedPermission" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <button pButton pRipple icon="pi pi-plus" class="bg-primary" (click)="onCreate()"></button>
                            </div>
                            <div class="col-md-6 col-12 d-flex justify-content-end">
                                <span class="p-input-icon-left">
                                  <i class="pi pi-search"></i>
                                  <input pInputText type="text"
                                      (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                      placeholder="Search..." />
                              </span>
                          </div>
                      </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                      <tr>
                          <th style="width: 3rem">
                              No
                          </th>
                          <th pSortableColumn="code">Code <p-sortIcon field="code">
                              </p-sortIcon>
                          </th>
                          <th pSortableColumn="namePermission">Name Permission <p-sortIcon field="namePermission">
                              </p-sortIcon>
                          </th>
                      
                          <th>Action</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                      <tr>
                          <td>
                              {{rowIndex + 1}}
                          </td>
                          <td>{{data.code}}</td>
                          <td>{{data.namePermission}}</td>
                          <td>
                              <button pButton pRipple icon="pi pi-pencil"
                                  class="p-button-rounded p-button-success mr-2" (click)="onUpdate(data.id)"></button>
                              <button pButton pRipple icon="pi pi-trash"
                                  class="p-button-rounded p-button-warning" (click)="onDelete(data.id)"></button>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
          </div>
      </div>
  </div>
</div>