<div class="card">
  <div class="card-body">
      <h4 class="card-title">Permission form</h4>
      <form class="forms-sample">
          <div class="row">
              <div class="col-md-6 grid-margin">
                  <div class="form-group">
                      <label for="namePermission">Name</label>
                      <input type="text" class="form-control" id="namePermission" placeholder="Name Permission">
                  </div>
                  <div class="form-group">
                      <label for="codePermission">Code</label>
                      <input type="text" class="form-control" id="nameAsset" placeholder="Code Permission">
                  </div>

                  <label for="codePermission">Is Active</label>
                  <div class="position-relative form-check mb-3"><label class="form-check-label"><input type="checkbox" class="form-check-input"> True</label></div>

              </div>
            
          </div>
          <button type="submit" class="btn btn-primary me-2 mr-2">Submit</button>
          <button class="btn btn-dark">Cancel</button>
      </form>
  </div>
</div>
