<div class="row mb-4">
    <div class="col-12">
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-5">Profile</h4>
        <form class="forms-sample">
            <div class="row">
                <div class="col-md-6  grid-margin">
                    
                    <div class="form-group">
                        <label for="namePermission">Name</label>
                        <input type="text" class="form-control"  id="namePermission" value="{{users.employeeId?.nameEmployee}}">
                    </div>


                    <div class="form-group">
                        <label for="namePermission">Phone Number</label>
                        <input type="text" class="form-control"  id="namePermission" value="{{users.employeeId?.phoneNumber}}">
                    </div>

  
                </div>
              
            </div>
            <button type="submit" class="btn btn-primary me-2 mr-2">Submit</button>
            <button class="btn btn-dark">Cancel</button>
        </form>
    </div>
  </div>
</div>
</div>
