<div class="card">
    <div class="card-body">
        <h4 class="card-title">Invoice Table</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Image</th>
                        <th>Code</th>
                        <th>Purchase Date</th>
                        <th>Total Price</th>
                        <th>Is Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td> </td>
                        <td>GUYY0987567</td>
                        <td>2021-12-23</td>
                        <td>250000</td>
                        <td><input type="checkbox" class="form-check-input" disabled checked/></td>
                        <td>
                            <button type="button" class="btn btn-outline-success btn-fw">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td> </td>
                        <td>MJ987656789</td>
                        <td>2021-12-23</td>
                        <td>250000</td>
                        <td><input type="checkbox" class="form-check-input" disabled checked/></td>
                        <td>
                            <button type="button" class="btn btn-outline-success btn-fw">Update</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>