<div class="card">
    <div class="card-body">
        <h4 class="card-title">Asset Type Form</h4>
        <div class="forms-sample">
            <div class="form-group">
                <label for="nameType">Name Type</label>
                <input type="text" class="form-control" id="nameType" placeholder="Name Type" [(ngModel)]="assetTypeInsert.names">
            </div>
            <div class="form-group">
                <label for="code">Code</label>
                <input type="text" class="form-control" id="code" placeholder="Code" [(ngModel)]="assetTypeInsert.code">
            </div>
            <button type="submit" class="btn btn-primary me-2" (click)="addDb()">Submit</button>
            <button class="btn btn-dark">Cancel</button>
        </div>
    </div>
</div>