<div class="card">
    <div class="card-body">
        <h4 class="card-title">Invoice Update</h4>
        <label>Code Invoice : {{invoice.code}}</label>
        <div class="forms-sample">
            <div class="form-group mt-md-3">
                <label>Upload Image </label><br>
                <input type="file" id="myfile" class="form-control" (change)="selectFile($event)" accept="image/*">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="invoice.isActive" checked>
                <label> Active </label>
            </div>
            <button type="submit" class="btn btn-primary mr-2" (click)="onUpdate()">Submit</button>
            <button class="btn btn-dark" routerLink="/glexy/invoice/list/">Cancel</button>
        </div>
    </div>
</div>