<div class="card">
    <div class="card-body">
        <h4 class="card-title">Invoice Update</h4>
        <label>Code Invoice : {{invoice.code}}</label>
        <div class="forms-sample">
            <div class="form-group mt-md-3">
                <label>Upload Image </label><br>
                <input type="file" id="myfile" class="file-upload-default" (change)="selectFile($event)" accept="image/*">
                <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                    <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                    </span>
                </div>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="invoice.isActive" checked>
                  Active
                </label>
            </div>
            <button type="submit" class="btn btn-primary mr-2" (click)="onUpdate()">Submit</button>
            <button class="btn btn-dark" routerLink="/glexy/invoice/list/">Cancel</button>
        </div>
    </div>
</div>