<div class="card">
    <div class="card-body">
        <h4 class="card-title">Location Table</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name Place</th>
                        <th>Code</th>
                        <th>Company</th>
                        <th>Total Price</th>
                        <th>Is Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Bootcamp Room</td>
                        <td>BRM</td>
                        <td>Lawencon</td>
                        <td><input type="checkbox" class="form-check-input" disabled checked/></td>
                        <td>
                            <button type="button" class="btn btn-outline-success btn-fw">Update</button>
                            <button type="button" class="btn btn-outline-danger btn-fw">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Meeting Room</td>
                        <td>MRM</td>
                        <td>Linov</td>
                        <td><input type="checkbox" class="form-check-input" disabled checked/></td>
                        <td>
                            <button type="button" class="btn btn-outline-success btn-fw">Update</button>
                            <button type="button" class="btn btn-outline-danger btn-fw">Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>