<div class="limiter">
    <div class="container-login100" style="background: url('../../../assets/images/bg-login.jpg');">
        <div class="wrap-login100">
            <span class="login100-form-title mb-4">
                Welcome
            </span>
            <span class="login100-form-title">
                <img src="../../../assets/images/Logo--.png" alt="Logo">
            </span>

            <div class="wrap-input100 mt-5">
                <input class="input100" (blur)="hasVal($event.target)" type="text" name="email"  [(ngModel)]= "data.email">
                <span class="focus-input100" data-placeholder="Email"></span>
            </div>

            <div class="wrap-input100">
                <span class="btn-show-pass" (click)="onShow()">
                    <i id="icon-eye" class="fa fa-eye"></i>
                </span>
                <input class="input100" (blur)="hasVal($event.target)" type="password" name="pass" id="show-pass" [(ngModel)]= "data.pass">
                <span class="focus-input100" data-placeholder="Password"></span>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" (click)="login()">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>