<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h2 class="card-title">Transaction Check In</h2>
                <p-table #dt [value]="listDataTrxDto" [rows]="10" [paginator]="true" [globalFilterFields]="['code','assignType','assignTo','checkOutDate']" responsiveLayout="scroll" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="d-flex p-ai-center justify-content-end">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Search..." />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                No
                            </th>
                            <th pSortableColumn="code">Code Trx
                                <p-sortIcon field="code">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="assignType">Assign Type
                                <p-sortIcon field="assignType">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="assignTo">Assign To
                                <p-sortIcon field="assignTo">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="checkOutDate">Date Check Out
                                <p-sortIcon field="checkOutDate">
                                </p-sortIcon>
                            </th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-trx let-rowIndex="rowIndex">
                        <tr>
                            <td>
                                {{rowIndex + 1}}
                            </td>
                            <td>{{trx.code}}</td>
                            <td>{{trx.assignType}}</td>
                            <td>{{trx.assignTo}}</td>
                            <td>{{trx.checkOutDate}}</td>
                            <td>
                                <button class="btn btn-success" (click)="checkIn(trx.id)">Return</button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>