<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active mr-2" id="tab-0" data-toggle="tab" href="#tab-content-0">
            <span>Form</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
            <span>Excel</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Asset form</h4>
                <div class="forms-sample">
                    <div class="row">
                        <div class="col-md-6 grid-margin">
                            <div class="form-group">
                                <label for="nameAsset">Name</label>
                                <input type="text" class="form-control" id="nameAsset" placeholder="Name Asset" [(ngModel)]="assetInsert.inventoryId.nameAsset">
                            </div>
                            <div class="form-group">
                                <label for="nameAsset">Code Inventory</label>
                                <input type="text" class="form-control" id="codeInven" placeholder="Code Inventory" [(ngModel)]="assetInsert.inventoryId.code">
                            </div>
                            <div class="form-group">
                                <label for="typeAsset">Type</label>
                                <ng-select2 [options]='optionsAssetType' [(ngModel)]="assetInsert.assetTypeId.id"> </ng-select2>
                            </div>
                            <div class="form-group">
                                <label>Brand</label>
                                <ng-select2 [options]='optionsBrand' [(ngModel)]="assetInsert.brandId.id"> </ng-select2>
                            </div>
                            <div class="form-group">
                                <label>Company</label>
                                <ng-select2 [options]='optionsCompany' [(ngModel)]="assetInsert.companyId.id"> </ng-select2>
                            </div>
                            <div class="form-group">
                                <label>Status Asset</label>
                                <ng-select2 [options]='optionsStatusAsset' [(ngModel)]="assetInsert.statusAssetId.id"> </ng-select2>
                            </div>
                            <div class="form-group">
                                <label for="qty">Quantity</label>
                                <input type="number" class="form-control" id="qty" placeholder="Quantity" [(ngModel)]="assetInsert.inventoryId.stock">
                            </div>
                            <div class="form-group">
                                <label>Date Expired</label>
                                <input class="form-control" type="date" [(ngModel)]="assetInsert.expiredDate" />
                            </div>

                        </div>
                        <div class="col-md-6 grid-margin">

                            <div class="form-group">
                                <label for="codeInvoice">Code Invoice</label>
                                <input type="text" class="form-control" id="codeInvoice" placeholder="Code Invoice" [(ngModel)]="assetInsert.invoiceId.code">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" class="form-control" id="price" placeholder="Price" [(ngModel)]="assetInsert.invoiceId.totalPrice">
                            </div>
                            <div class="form-group">
                                <label>Invoice Image</label><br>
                                <input type="file" name="invoiceImg" class="form-control" (change)="selectImgInvo($event)">
                            </div>
                            <div class="form-group">
                                <label>Asset Image </label><br>
                                <input type="file" name="assetImg" class="form-control" (change)="selectImgAsset($event)">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2" (click)="addData()">Submit</button>
                        <button class="btn btn-dark" routerLink="/glexy/asset/list">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Asset Excel</h4>
                    <form class="forms-sample">
                        <div class="row">
                            <div class="col">
                                <label class="text-center">Click on the beside text to download template asset excel file :
                                <a href="../../../../assets/file/glexy-asset.xls" download="glexy-asset"> <b> download </b>
                                </a>
                            </label>
                                <div class="form-group mt-md-3">
                                    <label>Upload Excel </label><br>
                                    <input type="file" name="excel" class="form-control" (change)="selectFile($event)" accept=".xls">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2" (click)="upload()">Submit</button>
                        <button class="btn btn-dark" routerLink="/glexy/asset/list">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>