<div class="card">
    <div class="card-body">
        <h4 class="card-title">Brand Table</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lonovo</td>
                        <td>LNV</td>
                        <td><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Snowman</td>
                        <td>SW</td>
                        <td><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Samsung</td>
                        <td>SMG</td>
                        <td><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>