<div class="card">
    <div class="card-body">
        {{data|json}}
        <h4 class="card-title">User form</h4>
        <div class="forms-sample">
            <div class="row">
                <div class="col-md-6 grid-margin">
                    <div class="form-group">
                        <label for="nameEmployee">Name</label>
                        <input type="text" class="form-control" id="nameEmployee" placeholder="Name Employee" [(ngModel)] = "data.nameEmployee">
                    </div>
                    <div class="form-group">
                        <label for="nipEmployee">NIP</label>
                        <input type="text" class="form-control" id="nipEmployee" placeholder="NIP Employee" [(ngModel)]="data.nip">
                    </div>
                    <div class="form-group">
                        <label for="emailEmployee">Email</label>
                        <input type="text" class="form-control" id="emailEmployee" placeholder="Email Employee" [(ngModel)]="data.emailEmployee">
                    </div>
                    <div class="form-group">
                        <label for="phoneEmployee">Phone Number</label>
                        <input type="text" class="form-control" id="phoneEmployee" placeholder="Phone Number Employee" [(ngModel)]="data.phoneNumber">
                    </div>
                    <label for="">Gender</label>
                    <div class="custom-radio custom-control"><input type="radio" id="exampleCustomRadio" name="customRadio" class="custom-control-input" [(ngModel)] = "data.gender" value="MALE" checked><label class="custom-control-label" for="exampleCustomRadio">Male</label></div>
                    <div class="custom-radio custom-control"><input type="radio" id="exampleCustomRadio2" name="customRadio" class="custom-control-input" [(ngModel)] = "data.gender" value="FEMALE"><label class="custom-control-label" for="exampleCustomRadio2">Female</label></div>
                    <div class="form-group">
                        <label for="typeAsset" >Company</label>
                        <select  class="form-control" id="typeAsset" [(ngModel)]="data.companyId.id" >
                          <option *ngFor="let list of listCompany" [value] = "list.id" >{{list.names}}</option>
                         
                        </select>
                    </div>

                    <label for="codePermission">Is Active</label>
                    <div class="position-relative form-check mb-3"><label class="form-check-label"><input type="checkbox" class="form-check-input" [(ngModel)]="data.isActive"> True</label></div>

                </div>
              
            </div>
            <button type="submit" class="btn btn-primary me-2 mr-2" (click)="add()">Submit</button>
            <button class="btn btn-dark">Cancel</button>
        </div>
    </div>
</div>

