<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Roles List</h4>
        <div class="create row mb-3">
          <div class="col-2 offset-10"> <button type="button" class="btn btn-warning btn-fw ms-5">Create</button> </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
                <tr>
                  <th> No </th>
                  <th> Email </th>
                  <th> Role </th>
                  <th> Name </th>
                  <th> Is Active </th>
                  <th> Deadline </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 1 </td>
                  <td> bondan@gmail.com </td>
                  <td> admin </td>
                  <td> bondan </td>
                  <td> true </td>
                  <td>  <button type="button" class="btn btn-success btn-fw mr-3">Update</button> <button type="button" class="btn btn-danger btn-fw ms-5">Delete</button></td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
