<div class="row mb-4">
    <div class="col-12">
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-5">Profile</h4>
        <form class="forms-sample">
            <div class="row">
                <div class="col-md-6  grid-margin">
                    <img width="200" height="200" class="rounded-circle mb-4 ml-5" src="../../../assets/images/account-logo.png" alt="" *ngIf = "!photo" (click)="onChangePhoto()">
                    <img width="200" height="200" class="rounded-circle mb-4 ml-5" src="data:image/{{users.usersImg?.extension}};base64,{{users.usersImg?.file}}" alt="" *ngIf = "photo" >
                    <button type="submit" class="btn btn-primary mb-3 ml-3" (click)="onChangePhoto()" *ngIf="change">Change Photo</button>
                    <div>
                    <input name="file" id="exampleFile" type="file" class="form-control-file mb-3" accept="image/*" (change)="selectFile($event)" *ngIf="!change">
                    <button type="submit" class="btn btn-success mb-3 mr-3" (click)="onUpdatePhoto()" *ngIf="!change">Save</button> 
                    <button type="submit" class="btn btn-danger mb-3" (click)="onChangePhoto()" *ngIf="!change">Cancel</button>
                    </div>
                 
                    <div class="form-group">
                        <label for="namePermission">Name</label>
                        <input type="text" class="form-control" disabled="" id="namePermission" value="{{users.employeeId?.nameEmployee}}">
                    </div>
                    
                    <div class="form-group">
                        <label for="namePermission">Email</label>
                        <input type="text" class="form-control" disabled="" id="namePermission" value="{{users.employeeId?.emailEmployee}}">
                    </div>

                    <div class="form-group">
                        <label for="namePermission">Role</label>
                        <input type="text" class="form-control" disabled="" id="namePermission" value="{{users.rolesId?.nameRole}}">
                    </div>

                    <div class="form-group">
                        <label for="namePermission">Company</label>
                        <input type="text" class="form-control" disabled="" id="namePermission" value="{{users.employeeId?.companyId?.names}}">
                    </div>

                    <div class="form-group">
                        <label for="namePermission">Phone Number</label>
                        <input type="text" class="form-control" disabled="" id="namePermission" value="{{users.employeeId?.phoneNumber}}">
                    </div>

                    <div class="form-group">
                        <label for="namePermission">Gender</label>
                        <input type="text" class="form-control" disabled=""  id="namePermission" value="{{users.employeeId?.gender}}">
                    </div>
  
                </div>
              
            </div>
            <button type="submit" class="btn btn-primary me-2 mr-2" (click)="onModify()">Update</button>
            <button type="submit" class="btn btn-primary me-2 mr-2" (click)="onPassword()">Change Password</button>
        </form>
    </div>
  </div>
</div>
</div>