<div class="card">
    <div class="card-body">
        <h4 class="card-title">Inventory Table</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name Asset</th>
                        <th>Code</th>
                        <th>Stock</th>
                        <th>Latest Stock</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Laptop</td>
                        <td>LTP</td>
                        <td>10</td>
                        <td>10</td>
                        <td><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Spidol Snowman</td>
                        <td>SPL</td>
                        <td>10</td>
                        <td>10</td>
                        <td><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Meja</td>
                        <td>MJ</td>
                        <td>50</td>
                        <td>50</td>
                        <td><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>