<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>Form Layouts
                <div class="page-title-subheading">Build whatever layout you need with our Architect framework.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Check Out Assets</h5>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="exampleSelect" class="">Assign to</label>
                            <select [(ngModel)]="assignTypeSelect.code" (change)="assignChange($event.target)"
                                name="select" id="exampleSelect" class="form-control">
                                <option *ngFor="let assignT of listAssignType" [value]="assignT.code">{{assignT.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="employeeOn" class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="">Employee</label>
                            <ng-select2 [(ngModel)]="employeeSelected.id" [options]='optionsEmployee'></ng-select2>
                        </div>
                    </div>
                    <div *ngIf="locationOn" class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="">Location</label>
                            <ng-select2 [(ngModel)]="locationSelected.id" [options]='optionsLocation'></ng-select2>
                        </div>
                    </div>
                    <div *ngIf="assetOn" class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="">General Asset</label>
                            <ng-select2 [(ngModel)]="assetGeneralSelected.id" [options]='optionsAsset'></ng-select2>
                        </div>
                    </div>
                </div>
                <div class="position-relative form-group">
                    <label for="exampleText" class="">Desc Check Out</label>
                    <textarea [(ngModel)]="dataTrx.description" name="desc" id="exampleText" class="form-control">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Choose Assets</h5>
                <div class="form-row">
                    <div class="col-md-5">
                        <div class="position-relative form-group">
                            <label for="exampleCity" class="">Asset</label>
                            <ng-select2 [(ngModel)]="dataReqAsset.inventId" (valueChanged)="onAssetChange($event)"
                                [options]='optionsInventory'></ng-select2>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="position-relative form-group"><label for="exampleCity" class="">Brand</label>
                            <select [(ngModel)]="dataReqAsset.brandId" (change)="onBrandChange($event.target)"
                                name="select" id="nameStatus" class="form-control">
                                <option *ngFor="let data of listBrands" [value]="data.id">{{data.names}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="position-relative form-group"><label for="exampleState" class="">Stock</label>
                            <input [(ngModel)]="stockAsset" name="state" id="exampleState" type="text"
                                class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="position-relative form-group"><label for="exampleState" class="">Quantity</label>
                            <input [(ngModel)]="qtyTrx" name="state" id="exampleState" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="position-relative form-group">
                            <label for="exampleZip" class="">Action</label>
                            <button (click)="onAddAsset()" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="position-relative form-group">
                    <div class="mb-3">
                        <h5 class="card-title">Assets Out</h5>
                        <p-table #dt [value]="dataDetailTrx" [rows]="10" [paginator]="true"
                            [globalFilterFields]="['assetId.code','assetId.names','assetId.brandId.names']" responsiveLayout="scroll"
                            [rowHover]="true" dataKey="id"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [showCurrentPageReport]="true">
                            <ng-template pTemplate="caption">
                                <div class="d-flex p-ai-center justify-content-end">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem">
                                        No
                                    </th>
                                    <th pSortableColumn="assetId.code">Code<p-sortIcon field="assetId.code">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="assetId.names">Name<p-sortIcon
                                            field="assetId.names">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="assetId.brandId.names">Brand<p-sortIcon field="assetId.brandId.names">
                                        </p-sortIcon>
                                    </th>
                                    <th>Duration Date</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-asset let-rowIndex="rowIndex">
                                <tr>
                                    <td>
                                        {{rowIndex + 1}}
                                    </td>
                                    <td>{{asset.assetId.code}}</td>
                                    <td>{{asset.assetId.names}}</td>
                                    <td>{{asset.assetId.brandId.names}}</td>
                                    <td>
                                        <input [(ngModel)]="asset.durationDate" name="state" id="exampleState" type="date"
                                            class="form-control">
                                    </td>
                                    <td>
                                        <button class="btn btn-danger">Remove</button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    In total there are {{dataDetailTrx ? dataDetailTrx.length : 0 }} products.
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <button (click)="onSubmit()" class="mt-2 btn btn-primary">Check Out</button>
            </div>
        </div>
    </div>
</div>