<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-portfolio icon-gradient bg-happy-itmeo">
                </i>
            </div>
            <div>Company Tables
                <div class="page-title-subheading">Tables are the backbone of almost all web applications.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h2 class="card-title">Company</h2>
                <p-table #dt [value]="dataList" [rows]="10" [paginator]="true" [globalFilterFields]="['names','code','description','address','companyImg','email','website','phone','fax']" responsiveLayout="scroll" [(selection)]="selectedCompany" [rowHover]="true" dataKey="id"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="d-flex p-ai-center justify-content-between">
                            <button pButton pRipple icon="pi pi-plus" class="bg-primary" routerLink="/glexy/company/new/"></button>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Search..." />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                No
                            </th>
                            <th pSortableColumn="companyImg">Image</th>
                            <th pSortableColumn="names">Name
                                <p-sortIcon field="names">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="code">Code
                                <p-sortIcon field="code">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="description">Description</th>
                            <th pSortableColumn="address">Address</th>
                            <th pSortableColumn="email">E-mail</th>
                            <th pSortableColumn="website">Website</th>
                            <th pSortableColumn="phone">Phone Number</th>
                            <th pSortableColumn="fax">Fax</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-companies let-rowIndex="rowIndex">
                        <tr>
                            <td>
                                {{rowIndex + 1}}
                            </td>
                            <td> <img class="company-img" src="data:image/png;base64,{{companies.companyImg.file}}" *ngIf="isDisplayAvail(companies.companyImg)" /> </td>
                            <td>{{companies.names}}</td>
                            <td>{{companies.code}}</td>
                            <td>{{companies.description}}</td>
                            <td>{{companies.address}}</td>
                            <td>{{companies.email}}</td>
                            <td>{{companies.website}}</td>
                            <td>{{companies.phoneNumber}}</td>
                            <td>{{companies.fax}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total there are {{dataList ? dataList.length : 0 }} products.
                        </div>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>