<div class="card">
    <div class="card-body">
        <h4 class="card-title">Company Table</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Address</th>
                        <th>Description</th>
                        <th>E-mail</th>
                        <th>Website</th>
                        <th>Phone Number</th>
                        <th>Fax</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lawencon</td>
                        <td>LWN</td>
                        <td>Jl. Tebet Raya No.19</td>
                        <td>Perusahaan A</td>
                        <td>lawencon@gmail.com</td>
                        <td>www.lawencon.com</td>
                        <td>021545677</td>
                        <td>0214543</td>
                        <td class="text-center"><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Linov</td>
                        <td>LNV</td>
                        <td>Jl. Tebet Raya No.20</td>
                        <td>Perusahaan B</td>
                        <td>linov@gmail.com</td>
                        <td>www.linov.com</td>
                        <td>021545444</td>
                        <td>0214444</td>
                        <td class="text-center"><input type="checkbox" class="form-check-input" disabled checked/></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>